<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ChitChat</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">ChitChat</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <div class="wrapper"></div>
  <footer></footer>
</body>

</html>